/* this is for investment page in index.html*/

#stockInfo {
	width:100%;
	height:185px;	
}

.stockTransaction {
	width:75%;
	padding: 0px 10px;
	position: relative;
	display:block;
}

#stockTrend {
	height:482px;;
	width:75%;
} 

#stockDetails div {
	background-color: #FFFFFF;
}
#transactionDetails {
	height:189px;
	background:#ffffff;
	right: 0;
}

#transactionRecord{
	width:75%;
	float:left;
	position:relative;
}
#saleType{
	width:50%;
}
.investBlock{
	margin-top:10px;
	margin-bottom:10px;
}
.investLabel{
	width:40%;
	float:left;
}
input.investInput{
	width:50%;
}
.investBtn{
	min-width:20px;
	width:20%;
	margin-right:10px;
	margin-bottom:10px;
}
.inputBlock{
	float:left;
	padding-top:20px;
	padding-left:20px;
	padding-right:5px;
	margin-right:15px;
	margin-bottom:15px;
	background:#993333;
}

div#buyAndSell{
	width:40%;
	height:316px;
}

div#userMoney{
	padding-top:0px;
	float:right;
	width:55%;
	height:316px;
}
div#recordDetails{
	padding-top:0px;
	width:98.5%;
	height:150px;
}

#user-money-table{s
	width:100%;
	float:right;
	font-size:12px;
}
#user-record-table{
	width:100%;
	font-size:10px;
}
.infoBlock{
	margin-bottom:5px;
	font-size:12px;
	height:18px;	
}
.infoInput{
	height:100%;
	width:30%;
	BACKGROUND-COLOR: transparent;
	border:none;
	color:#ffffff;
}





